.footer {
	display: grid;

	padding: 25px 30px;

	color: var(--white);
	background-color: var(--primari);

	font-size: 14px;
	line-height: 16px;
	grid-template-columns: 1fr auto auto;
	gap: 20px 40px;
}

.footer a {
	color: var(--white);
}

.footer a:hover {
	color: var(--gren-ligth);
}

@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
	}
}
