* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--font);
	background-color: #E5E5E5;

	font-family: 'Noto Sans', sans-serif;
}

:root {
	--font: #3B434E;
	--grey-ligth: #EBEBEB;
	--primari-hover: #6945F8;
	--primari: #7653FC;
	--white: white;
	--gren: #1DC37E;
	--red: #FC836D;
	--gren-ligth: #C8F8E4;
	--font-famaly: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

.ul__list {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	margin-top: 20px;
}

li {
	list-style: none;
}



@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}